body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 34px auto;
    background-color: #fff;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: #004AAD;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
  }
  
  button:hover {
    background-color: #00307e;
  }
  footer {
    background-color: #004AAD;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004AAD;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .top-bar button {
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .left-icons,
.right-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
  
  .top-bar img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
  }
  element.style {
    height: 86px;
    width: 97%;
  }
  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    height: 40px;
    top: 20%
  }